
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h2> signup </h2>
 <div class="form-group">
    <div class="form-floating">
    <input type="text" class="form-control" style="width:40%;" required  id="floatingInput" placeholder=" First Name" name="fname">
    <label for="floatingInput">First Name</label>
</div>
</div>
 <div class="form-group">
    <div class="form-floating">
    <input type="text" class="form-control" style="width:40%;" required id="floatingInput" placeholder=" Enter Password" name="othernames">
    <label for="floatingInput">Other Name</label>
</div>
</div>
<div class="form-group">
   <div class="form-floating">
   <input type="email" class="form-control" style="width:40%;" required id="floatingInput" placeholder=" Enter Email" name="email">
   <label for="floatingInput">Email</label>
</div>
</div>
<div class="form-group">
   <div class="form-floating">
   <input type="text" class="form-control" style="width:40%;" required id="floatingInput" placeholder=" Enter Address" name="phone">
   <label for="floatingInput">phone number</label>
</div>
</div>
<div class="form-group">
   <div class="form-floating">
   <input type="text" class="form-control" style="width:40%;" required id="floatingInput" placeholder=" Enter Address" name="comment">
   <label for="floatingInput">comment</label>
</div>
</div>
<div class="form-group">
   <div class="form-floating">
   <input type="text" class="form-control" style="width:40%;" required id="floatingInput" placeholder=" Enter Password" name="password">
   <label for="floatingInput">Password</label>
</div>
</div>

<div class="col-6 d-grid">
 <button class="btn btn-primary" style="width:81%;" type="submit">submit</button>
</div>
